# Maven
/target/

# TestNG
/test-output/

# Compiled files
*.class

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.project
.classpath

# Allure
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db
