# Maven
/target/

# TestNG
/test-output/

# Compiled files
*.class

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.project
.classpath

# Ignore local screenshots
ScreenShots/
ManualScreenshots/

# Ignore Allure results and reports
allure-results/
allure-report/
target/

# OS
.DS_Store
Thumbs.db
